body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  height: 40px;
  background-color: rgb(76, 230, 230);
  padding: 10px;
  text-align: end;
}

.header-button {
  text-decoration: none;
  color: black;
  font-size: larger;
}

.input-search {
  padding:9px;
  margin: 0px 5px 5px 0px;
  width: 30%;
  border-radius:10px;
  border: 1px solid;
  box-shadow:0 0 15px 4px rgba(76, 230, 230,0.1);
}